
<div class="container">
    <div class="cause">
        <div class="cause__info">
            <div class="section__title cause__title wow slideInRight" data-wow-offset="100" data-wow-duration=".500s">Почему <mark>зрение портится?</mark></div>
            <div class="cause__description">За остроту зрения отвечает хрусталик и глазные мышцы. Когда мышцы ослабевают и эластичность хрусталика снижается, зрение стремительно падает.</div>
            <div class="cause__subtitle">Это происходит по нескольким причинам:</div>
            <ul class="cause__list">
                <li class="cause__list-item">Возрастные изменения</li>
                <li class="cause__list-item">Воспалительные процессы и болезни глаз</li>
                <li class="cause__list-item">Повышенное давление на глазное яблоко</li>
                <li class="cause__list-item">Усиленная нагрузка на глаза</li>
                <li class="cause__list-item">Недостаточное кровоснабжение</li>
            </ul>
        </div>
        <div class="cause__warning"><mark>При отсутствии лечения зрение постепенно снижается до полной слепоты</mark>. Очки и контактные линзы только усугубляют ситуацию: глазные мышцы совсем перестают работать, от этого зрение падает еще быстрее.</div>
    </div>
</div>
