
<div class="container">
    <div class="commits">
        <div class="commits__title section__title wow slideInUp" data-wow-offset="100">Отзывы</div>
        <div class="commits__box">
            <div class="commits__item wow slideInLeft" data-wow-offset="100">
                <div class="commits__border">
                    <div class="commits__head">
                        <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                        <div class="commits__name">Klaudia KRAWCZYK,</div>
                        <div class="commits__age">35 лет</div>
                    </div>
                    <div class="commits__description">
                        Про Oftalmaks узнала в поликлинике, там его активно обсуждали, вот и решила заказать попробовать, а вдруг? Возраст уже сказывается, часто приходилось очками пользоваться, т.к. элементарно номер автобуса не видела. Да и окулист неутешительные прогнозы делал - с сетчаткой проблемы начинались. А Oftalmaks говорят при всех проблемах с глазами применяется. Что сказать могу, препарат чудесный! Сейчас все вижу намного лучше, могу даже мелкие детали в далеко разглядеть. Так что смело рекомендую!
                    </div>
                </div>
            </div>
            <div class="commits__item wow slideInUp" data-wow-offset="100">
                <div class="commits__border">
                    <div class="commits__head">
                        <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                        <div class="commits__name">Oliwia PAWŁOWSKA,</div>
                        <div class="commits__age">29 лет</div>
                    </div>
                    <div class="commits__description">
                        После родов начались проблемы со зрением. Видимо, давление было сильное, и зрение резко ухудшилось. мне сказали, что такое бывает и, что скоро это пройдет. Но через год стало только хуже. Были боли, краснота, сухость. От минус 0,5 переросло в минус 2. Пошла к платному врачу, потому что в поликлинике только и говорили, что это пройдет. Капайте капли дешевые. Нормальный врач в платной клинике прописал Oftalmaks, и все стало хорошо буквально через месяц! Зрение постепенно возвращается, уже не -2, а всего -1, почти 100% зрение. Про давление и боль, а тем более про сухость, я давно забыла!
                    </div>
                </div>
            </div>
            <div class="commits__item wow slideInRight" data-wow-offset="100">
                <div class="commits__border">
                    <div class="commits__head">
                        <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                        <div class="commits__name">Filip KWIATKOWSKI</div>
                        <div class="commits__age">42 года</div>
                    </div>
                    <div class="commits__description">
                        Я программист, и постоянная работа перед монитором очень сильно подорвала мое зрение. Дошло до того, что вставал из-за компьютера,  а пред глазами все плыло. Мучили постоянные головные боли из-за напряжения в глазах. Спохватился только тогда, когда работать не смог – глаза перестали различать мелкие буквы на экране. Взял отпуск, заказал Oftalmaks. 2 недели дал глазам отдохнуть от компьютера, принимал препарат и по 15 минут в день гимнастику делал. Результат меня, конечно, поразил. Вижу все настолько четко, как будто мне глаза протерли! Теперь за зрением буду следить всегда!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
