
<div class="container">
    <div class="demonstration">
        <div class="demonstration__item" data-wow-delay="0.3s">
            <div class="demonstration__media"><img src="../media/demonstration/img-1.jpg" alt=""></div>
            <div class="demonstration__info">
                <div class="demonstration__subTitle">Мышечный аппарат фокусирует глаза</div>
                <div class="demonstration__description">таким образом, чтобы получаемые изображения, проходя через хрусталик, проецировались на сетчатке</div>
            </div>
        </div>
        <div class="demonstration__item" data-wow-delay="0.6s">
            <div class="demonstration__media"><img src="../media/demonstration/img-2.jpg" alt=""></div>
            <div class="demonstration__info">
                <div class="demonstration__subTitle">Нарушения в балансе работы мышц</div>
                <div class="demonstration__description">создают недостаточное или чрезмерное сдавливание глазного яблока</div>
            </div>
        </div>
        <div class="demonstration__item" data-wow-delay="0.9s">
            <div class="demonstration__media"><img src="../media/demonstration/img-3.jpg" alt=""></div>
            <div class="demonstration__info">
                <div class="demonstration__subTitle">Хрусталик деформируется</div>
                <div class="demonstration__description">фокус искажается, картинка плывет</div>
            </div>
        </div>
    </div>
</div>
