
<div class="container">
    <div class="face">
        <div class="face__product"></div>
        <div class="face__logo">Oftalmaks</div>
        <div class="face__box">
            <div class="face__info">
                <div class="section__title face__title wow fadeIn" data-wow-offset="100" data-wow-duration=".300s">Верните <span>зрение</span> <i><mark>за 1 курс</mark></i></div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-duration=".300s" data-wow-delay = "0.1s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Снимает напряжение</span> и боль в глазах за 5 минут</div>
                </div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-duration=".300s" data-wow-delay = "0.2s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Восстанавливает зрение</span> на 99% за 1 курсовой прием</div>
                </div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-duration=".300s" data-wow-delay = "0.3s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Препятствует развитию</span> глазных заболеваний и ослаблению зрения</div>
                </div>
                <div class="face__theAppointment">
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Воздействует</b> <span>на причину</span> плохого зрения</div>
                    </div>
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Защищает</b> <span>при длительных</span> нагрузках</div>
                    </div>
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Снимает</b> напряжение</div>
                    </div>
                </div>
            </div>
            <form class="form wow slideInRight" data-wow-offset="100" data-wow-duration=".300s">
                <div class="form__title">Закажите <span>со скидкой</span> <span><mark>прямо сейчас</mark></span></div>
                <div class="form__price"><span>990 руб</span> <mark>99 руб.</mark></div>
                <div class="form__count">
                    <div class="form__count-title">До конца акции осталось:</div>
                    <div class="form__count-time">
                        <div class="form__count-item"><span>00</span> <span>часов</span></div> :
                        <div class="form__count-item"><span>12</span> <span>минут</span></div> :
                        <div class="form__count-item"><span>00</span> <span>секунд</span></div>
                    </div>
                </div>
                <div class="form__item">
                    <div class="form__label">Страна</div>
                    <select class="form__field form__selcet">
                        <option selected="selected"></option>
                        <option value="AF" class="different option">Afghanistan</option>
                        <option value="AX" class="different option">Aland Islands</option>
                        <option value="AL" class="different option">Albania</option>
                        <option value="DZ" class="different option">Algeria</option>
                        <option value="AS" class="different option">American Samoa</option>
                        <option value="VI" class="different option">American Virgin Islands</option>
                        <option value="AD" class="different option">Andorra</option>
                        <option value="AO" class="different option">Angola</option>
                        <option value="AI" class="different option">Anguilla</option>
                        <option value="AQ" class="different option">Antarctica</option>
                        <option value="AG" class="different option">Antigua and Barbuda</option>
                        <option value="AR" class="different option">Argentina</option>
                        <option value="AM" class="different option">Armenia</option>
                        <option value="AW" class="different option">Aruba</option>
                        <option value="AU" class="different option">Australia</option>
                        <option value="AT" class="different option">Austria</option>
                        <option value="AZ" class="different option">Azerbaijan</option>
                        <option value="BS" class="different option">Bahamas</option>
                        <option value="BH" class="different option">Bahrain</option>
                        <option value="BD" class="different option">Bangladesh</option>
                        <option value="BB" class="different option">Barbados</option>
                        <option value="BY" class="different option">Belarus</option>
                        <option value="BE" class="different option">Belgium</option>
                        <option value="BZ" class="different option">Belize</option>
                        <option value="BJ" class="different option">Benin</option>
                        <option value="BM" class="different option">Bermuda</option>
                        <option value="BT" class="different option">Bhutan</option>
                        <option value="BO" class="different option">Bolivia</option>
                        <option value="BA" class="different option">Bosnia and Herzegovina</option>
                        <option value="BW" class="different option">Botswana</option>
                        <option value="BV" class="different option">Bouvet Island</option>
                        <option value="BR" class="different option">Brazil</option>
                        <option value="IO" class="different option">British Indian Ocean Territory</option>
                        <option value="VG" class="different option">British Virgin Islands</option>
                        <option value="BN" class="different option">Brunei</option>
                        <option value="BG" class="different option">Bulgaria</option>
                        <option value="BF" class="different option">Burkina Faso</option>
                        <option value="BI" class="different option">Burundi</option>
                        <option value="KH" class="different option">Cambodia</option>
                        <option value="CM" class="different option">Cameroon</option>
                        <option value="CA" class="different option">Canada</option>
                        <option value="CV" class="different option">Cape Verde</option>
                        <option value="KY" class="different option">Cayman Islands</option>
                        <option value="CF" class="different option">Central African Republic</option>
                        <option value="TD" class="different option">Chad</option>
                        <option value="CL" class="different option">Chile</option>
                        <option value="CN" class="different option">China</option>
                        <option value="CX" class="different option">Christmas Island</option>
                        <option value="CO" class="different option">Colombia</option>
                        <option value="KM" class="different option">Comoros</option>
                        <option value="CG" class="different option">Congo-Brazzaville</option>
                        <option value="CD" class="different option">Congo-Kinshasa</option>
                        <option value="CK" class="different option">Cook Islands</option>
                        <option value="CR" class="different option">Costa Rica</option>
                        <option value="HR" class="different option">Croatia</option>
                        <option value="CU" class="different option">Cuba</option>
                        <option value="CY" class="different option">Cyprus</option>
                        <option value="CZ" class="different option">Czech Republic</option>
                        <option value="DK" class="different option">Denmark</option>
                        <option value="DJ" class="different option">Djibouti</option>
                        <option value="DM" class="different option">Dominica</option>
                        <option value="DO" class="different option">Dominican Republic</option>
                        <option value="TL" class="different option">East Timor</option>
                        <option value="EC" class="different option">Ecuador</option>
                        <option value="EG" class="different option">Egypt</option>
                        <option value="SV" class="different option">El Salvador</option>
                        <option value="GQ" class="different option">Equatorial Guinea</option>
                        <option value="ER" class="different option">Eritrea</option>
                        <option value="EE" class="different option">Estonia</option>
                        <option value="ET" class="different option">Ethiopia</option>
                        <option value="FK" class="different option">Falkland Islands</option>
                        <option value="FO" class="different option">Faroe Islands</option>
                        <option value="FJ" class="different option">Fiji</option>
                        <option value="FI" class="different option">Finland</option>
                        <option value="FR" class="different option">France</option>
                        <option value="GF" class="different option">French Guiana</option>
                        <option value="PF" class="different option">French Polynesia</option>
                        <option value="TF" class="different option">French Southern Territories</option>
                        <option value="GA" class="different option">Gabon</option>
                        <option value="GM" class="different option">Gambia</option>
                        <option value="GE" class="different option">Georgia</option>
                        <option value="DE" class="different option">Germany</option>
                        <option value="GH" class="different option">Ghana</option>
                        <option value="GI" class="different option">Gibraltar</option>
                        <option value="GR" class="different option">Greece</option>
                        <option value="GL" class="different option">Greenland</option>
                        <option value="GD" class="different option">Grenada</option>
                        <option value="GP" class="different option">Guadeloupe</option>
                        <option value="GU" class="different option">Guam</option>
                        <option value="GT" class="different option">Guatemala</option>
                        <option value="GG" class="different option">Guernsey</option>
                        <option value="GN" class="different option">Guinea</option>
                        <option value="GW" class="different option">Guinea-Bissau</option>
                        <option value="GY" class="different option">Guyana</option>
                        <option value="HT" class="different option">Haiti</option>
                        <option value="HN" class="different option">Honduras</option>
                        <option value="HK" class="different option">Hong Kong</option>
                        <option value="HU" class="different option">Hungary</option>
                        <option value="IS" class="different option">Iceland</option>
                        <option value="IN" class="different option">India</option>
                        <option value="ID" class="different option">Indonesia</option>
                        <option value="IR" class="different option">Iran</option>
                        <option value="IQ" class="different option">Iraq</option>
                        <option value="IE" class="different option">Ireland</option>
                        <option value="IM" class="different option">Isle Of Man</option>
                        <option value="IL" class="different option">Israel</option>
                        <option value="IT" class="different option">Italy</option>
                        <option value="CI" class="different option">Ivory Coast</option>
                        <option value="JM" class="different option">Jamaica</option>
                        <option value="JP" class="different option">Japan</option>
                        <option value="JE" class="different option">Jersey</option>
                        <option value="JO" class="different option">Jordan</option>
                        <option value="KZ" class="different option">Kazakhstan</option>
                        <option value="KE" class="different option">Kenya</option>
                        <option value="KI" class="different option">Kiribati</option>
                        <option value="KW" class="different option">Kuwait</option>
                        <option value="KG" class="different option">Kyrgyzstan</option>
                        <option value="LA" class="different option">Laos</option>
                        <option value="LV" class="different option">Latvia</option>
                        <option value="LB" class="different option">Lebanon</option>
                        <option value="LS" class="different option">Lesotho</option>
                        <option value="LR" class="different option">Liberia</option>
                        <option value="LY" class="different option">Libya</option>
                        <option value="LI" class="different option">Liechtenstein</option>
                        <option value="LT" class="different option">Lithuania</option>
                        <option value="LU" class="different option">Luxembourg</option>
                        <option value="MO" class="different option">Macau</option>
                        <option value="MK" class="different option">Macedonia</option>
                        <option value="MG" class="different option">Madagascar</option>
                        <option value="MW" class="different option">Malawi</option>
                        <option value="MY" class="different option">Malaysia</option>
                        <option value="MV" class="different option">Maldives</option>
                        <option value="ML" class="different option">Mali</option>
                        <option value="MT" class="different option">Malta</option>
                        <option value="MH" class="different option">Marshall Islands</option>
                        <option value="MQ" class="different option">Martinique</option>
                        <option value="MR" class="different option">Mauritania</option>
                        <option value="MU" class="different option">Mauritius</option>
                        <option value="YT" class="different option">Mayotte</option>
                        <option value="MX" class="different option">Mexico</option>
                        <option value="FM" class="different option">Micronesia</option>
                        <option value="MD" class="different option">Moldova</option>
                        <option value="MC" class="different option">Monaco</option>
                        <option value="MN" class="different option">Mongolia</option>
                        <option value="ME" class="different option">Montenegro</option>
                        <option value="MS" class="different option">Montserrat</option>
                        <option value="MA" class="different option">Morocco</option>
                        <option value="MZ" class="different option">Mozambique</option>
                        <option value="MM" class="different option">Myanmar</option>
                        <option value="NA" class="different option">Namibia</option>
                        <option value="NR" class="different option">Nauru</option>
                        <option value="NP" class="different option">Nepal</option>
                        <option value="NL" class="different option">Netherlands</option>
                        <option value="NC" class="different option">New Caledonia</option>
                        <option value="NZ" class="different option">New Zealand</option>
                        <option value="NI" class="different option">Nicaragua</option>
                        <option value="NE" class="different option">Niger</option>
                        <option value="NG" class="different option">Nigeria</option>
                        <option value="NU" class="different option">Niue</option>
                        <option value="NF" class="different option">Norfolk Island</option>
                        <option value="KP" class="different option">North Korea</option>
                        <option value="MP" class="different option">Northern Mariana Islands</option>
                        <option value="NO" class="different option">Norway</option>
                        <option value="OM" class="different option">Oman</option>
                        <option value="PK" class="different option">Pakistan</option>
                        <option value="PW" class="different option">Palau</option>
                        <option value="PS" class="different option">Palestine</option>
                        <option value="PA" class="different option">Panama</option>
                        <option value="PG" class="different option">Papua New Guinea</option>
                        <option value="PY" class="different option">Paraguay</option>
                        <option value="PE" class="different option">Peru</option>
                        <option value="PH" class="different option">Philippines</option>
                        <option value="PN" class="different option">Pitcairn</option>
                        <option value="PL" class="different option">Poland</option>
                        <option value="PT" class="different option">Portugal</option>
                        <option value="PR" class="different option">Puerto Rico</option>
                        <option value="QA" class="different option">Qatar</option>
                        <option value="RE" class="different option">Reunion</option>
                        <option value="RO" class="different option">Romania</option>
                        <option value="RU" class="different option">Russia</option>
                        <option value="RW" class="different option">Rwanda</option>
                        <option value="BL" class="different option">Saint Barthelemy</option>
                        <option value="SH" class="different option">Saint Helena</option>
                        <option value="KN" class="different option">Saint Kitts and Nevis</option>
                        <option value="LC" class="different option">Saint Lucia</option>
                        <option value="MF" class="different option">Saint Martin</option>
                        <option value="PM" class="different option">Saint Pierre and Miquelon</option>
                        <option value="VC" class="different option">Saint Vincent and the Grenadines</option>
                        <option value="WS" class="different option">Samoa</option>
                        <option value="SM" class="different option">San Marino</option>
                        <option value="ST" class="different option">Sao Tome and Principe</option>
                        <option value="SA" class="different option">Saudi Arabia</option>
                        <option value="SN" class="different option">Senegal</option>
                        <option value="RS" class="different option">Serbia</option>
                        <option value="SC" class="different option">Seychelles</option>
                        <option value="SL" class="different option">Sierra Leone</option>
                        <option value="SG" class="different option">Singapore</option>
                        <option value="SK" class="different option">Slovakia</option>
                        <option value="SI" class="different option">Slovenia</option>
                        <option value="SB" class="different option">Solomon Islands</option>
                        <option value="SO" class="different option">Somalia</option>
                        <option value="ZA" class="different option">South Africa</option>
                        <option value="KR" class="different option">South Korea</option>
                        <option value="ES" class="different option">Spain</option>
                        <option value="LK" class="different option">Sri Lanka</option>
                        <option value="SD" class="different option">Sudan</option>
                        <option value="SR" class="different option">Suriname</option>
                        <option value="SJ" class="different option">Svalbard And Jan Mayen</option>
                        <option value="SZ" class="different option">Swaziland</option>
                        <option value="SE" class="different option">Sweden</option>
                        <option value="CH" class="different option">Switzerland</option>
                        <option value="SY" class="different option">Syria</option>
                        <option value="TW" class="different option">Taiwan</option>
                        <option value="TJ" class="different option">Tajikistan</option>
                        <option value="TZ" class="different option">Tanzania</option>
                        <option value="TH" class="different option">Thailand</option>
                        <option value="TG" class="different option">Togo</option>
                        <option value="TK" class="different option">Tokelau</option>
                        <option value="TO" class="different option">Tonga</option>
                        <option value="TT" class="different option">Trinidad and Tobago</option>
                        <option value="TN" class="different option">Tunisia</option>
                        <option value="TR" class="different option">Turkey</option>
                        <option value="TM" class="different option">Turkmenistan</option>
                        <option value="TC" class="different option">Turks and Caicos Islands</option>
                        <option value="TV" class="different option">Tuvalu</option>
                        <option value="UG" class="different option">Uganda</option>
                        <option value="UA" class="different option">Ukraine</option>
                        <option value="AE" class="different option">United Arab Emirates</option>
                        <option value="US" class="different option">United States of America</option>
                        <option value="UY" class="different option">Uruguay</option>
                        <option value="UZ" class="different option">Uzbekistan</option>
                        <option value="VU" class="different option">Vanuatu</option>
                        <option value="VA" class="different option">Vatican</option>
                        <option value="VE" class="different option">Venezuela</option>
                        <option value="VN" class="different option">Vietnam</option>
                        <option value="WF" class="different option">Wallis and Futuna</option>
                        <option value="EH" class="different option">Western Sahara</option>
                        <option value="YE" class="different option">Yemen</option>
                        <option value="ZM" class="different option">Zambia</option>
                        <option value="ZW" class="different option">Zimbabwe</option>
                    </select>
                </div>
                <div class="form__item">
                    <div class="form__label">Ваше имя</div>
                    <input name="name" class="form__field" type="text">
                </div>
                <div class="form__item">
                    <div class="form__label">Телефон</div>
                    <input name="phone" class="form__field" type="text">
                </div>
                <div class="form__item">
                    <button class="form__btn">Купить со скидкой</button>
                </div>
            </form>
        </div>
    </div>
</div>
