
<div class="container">
    <div class="face">
        <div class="face__product wow pulse"></div>
        <div class="face__logo">Oftalmaks</div>
        <div class="face__box">
            <div class="face__info">
                <div class="section__title face__title wow fadeIn" data-wow-offset="100">Верните <span>зрение</span> <i><mark>за 1 курс</mark></i></div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.1s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Снимает напряжение</span> и боль в глазах за 5 минут</div>
                </div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.2s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Восстанавливает зрение</span> на 99% за 1 курсовой прием</div>
                </div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.3s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Препятствует развитию</span> глазных заболеваний и ослаблению зрения</div>
                </div>
                <div class="face__theAppointment">
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Воздействует</b> <span>на причину</span> плохого зрения</div>
                    </div>
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Защищает</b> <span>при длительных</span> нагрузках</div>
                    </div>
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Снимает</b> напряжение</div>
                    </div>
                </div>
            </div>
            <form class="form wow flipInY" data-wow-offset="100">
                <div class="form__title">Закажите <span>со скидкой</span> <span><mark>прямо сейчас</mark></span></div>
                <div class="form__price"><span>990 руб</span> <mark>99 руб.</mark></div>
                <div class="form__count">
                    <div class="form__count-title">До конца акции осталось:</div>
                    <div class="form__count-time">
                        <div class="form__count-item"><span>00</span> <span>часов</span></div> :
                        <div class="form__count-item"><span>12</span> <span>минут</span></div> :
                        <div class="form__count-item"><span>00</span> <span>секунд</span></div>
                    </div>
                </div>
                <div class="form__item">
                    <input name="name" class="form__field" type="text" placeholder="Ваше имя">
                </div>
                <div class="form__item">
                    <input name="country" class="form__field" type="text" placeholder="Страна">
                </div>
                <div class="form__item">
                    <input name="phone" class="form__field" type="text" placeholder="Телефон">
                </div>
                <div class="form__item">
                    <button class="form__btn">Купить со скидкой</button>
                </div>
            </form>
        </div>
    </div>
</div>
