
<div class="container">
    <div class="help">
        <div class="section__title help__title wow slideInUp" data-wow-offset="100" data-wow-duration=".500s" data-wow-duration=".500s">Ваше зрение <span>можно спасти!</span></div>
        <div class="help__box wow slideInUp" data-wow-offset="100" data-wow-duration=".500s" data-wow-duration=".500s">
            <div class="help__media"><img src="../media/help/laboratory.jpg" alt=""></div>
            <div class="help__info">
                <p>На создание препарата Oftalmaks ученые из Европейского Офтальмологического Центра потратили 8 лет. Разработка прошла многоступенчатое тестирование, получила лицензию и сертификаты качества, а также ряд наград за лучшую разработку в области офтальмологии.</p>
                <p>Особенность новейшего средства в максимально быстром эффекте, заметном уже после 1 курса применения.</p>
            </div>
            <div class="help__footer">
                <div class="help__item">
                    <div class="help__item-media"><img src="../media/help/icon-1.png" alt=""></div>
                    <div class="help__item-description">Рекомендовано к применению <mark>ассоциацией офтальмологов ЕС</mark></div>
                </div>
                <div class="help__item">
                    <div class="help__item-media"><img src="../media/help/icon-2.png" alt=""></div>
                    <div class="help__item-description">100% <mark>натуральный</mark> состав</div>
                </div>
                <div class="help__item">
                    <div class="help__item-media"><img src="../media/help/icon-3.png" alt=""></div>
                    <div class="help__item-description">Эффективность <mark>подтверждена клинически</mark></div>
                </div>
            </div>
        </div>
    </div>
</div>
