
<div class="container">
    <div class="ingredients">
        <div class="ingredients__product wow pulse" data-wow-offset="100" data-wow-duration=".500s"></div>
        <div class="ingredients__title section__title wow slideInDown" data-wow-offset="100" data-wow-duration=".500s">В состав Oftalmaks вошли <span><mark>высококачественные ингредиенты</mark></span> с доказанной эффективностью</div>
        <div class="ingredients__box">
            <div class="ingredients__item wow slideInLeft" data-wow-offset="100" data-wow-duration=".500s">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-1.jpg" alt=""></div>
                <div class="ingredients__name">ЭКСТРАКТ ГОЛУБИКИ И ЯСТРЕБИНКИ</div>
                <div class="ingredients__description">Усиливают остроту зрения, укрепляют сетчатку глаз</div>
            </div>
            <div class="ingredients__item ingredients__item_right wow slideInRight" data-wow-offset="100" data-wow-duration=".500s">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-4.jpg" alt=""></div>
                <div class="ingredients__name">МОРСКОЙ ВИНОГРАД И РАУВОЛЬФИЯ</div>
                <div class="ingredients__description">Защищают сетчатку от фотоповреждения. Усиливает остроту зрения</div>
            </div>
            <div class="ingredients__item wow slideInLeft" data-wow-offset="100" data-wow-duration=".500s">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-2.jpg" alt=""></div>
                <div class="ingredients__name">ЭКСТРАКТ ГИНКГО БИЛОБА</div>
                <div class="ingredients__description">Улучшает микроциркуляцию Предотвращает хрупкость капилляров Улучшает кровоток в сосудах сетчатки глаза</div>
            </div>
            <div class="ingredients__item ingredients__item_right wow slideInRight" data-wow-offset="100" data-wow-duration=".500s">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-5.jpg" alt=""></div>
                <div class="ingredients__name">АКУЛИЙ ЖИР</div>
                <div class="ingredients__description">Улучшает эластичность сосудов, остроту зрения и контрастность восприятия изображения. Нормализует внутриглазное давления, обеспечивает профилактику глаукомы.</div>
            </div>
            <div class="ingredients__item wow slideInLeft" data-wow-offset="100" data-wow-duration=".500s">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-3.jpg" alt=""></div>
                <div class="ingredients__name">ШИКША</div>
                <div class="ingredients__description">Предупреждает возрастное снижение зрения. Снижает риск развития макулярной дегенерации. Помогает в профилактике катаракты</div>
            </div>
            <div class="ingredients__item ingredients__item_right wow slideInRight" data-wow-offset="100" data-wow-duration=".500s">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-6.jpg" alt=""></div>
                <div class="ingredients__name">ВИТАМИНЫ В, С, Е</div>
                <div class="ingredients__description">Улучшают состояние органов зрения. Участвуют в процессах темновой адаптации, снижают усталость глаз. Ускоряют восстановление зрительных пигментов. Способствуют предотвращению катаракты</div>
            </div>
        </div>
    </div>
</div>
