
<div class="container">
    <div class="innovation wow bounceInUp" data-wow-offset="100" data-wow-duration=".300s">
        <div class="innovation__logo">Oftalmaks</div>
        <div class="innovation__border">
            <div class="section__title innovation__title"><mark>Инновационная разработка</mark> для восстановления зрения</div>
            <div class="innovation__description">
                <p>Oftalmaks – это биогенный комплекс природных экстрактов, оказывающих направленное действие при снижении зрения и обеспечивающий полное избавление от наиболее распространенных болезней глаз человека.</p>
                <p>Это единственный препарат, который регулирует работу мышц глазного яблока, что помогает восстановить нормальную фокусировку и вернуть четкое и яркое, объемное зрение.</p>
            </div>
        </div>
    </div>
</div>
