
<div class="container">
    <div class="professional">
        <div class="professional__title section__title">Мнение <mark>специалиста</mark></div>
        <div class="professional__description">
            <p><mark>За последние несколько лет количество людей, страдающих от потери зрения возросло в 18 раз. Многие мои пациенты впадают в панику, просят меня выписать им линзы и очки, хотя не понимают, что такая мера в дальнейшем еще больше ухудшит ситуацию, полностью нарушив работу глаз.</mark></p>
            <p>Сегодня появилась возможность РЕШИТЬ проблему медикаментозно. Для этих целей и создан препарат Oftalmaks. Я назначаю его каждому своему пациенту
            и в 99% случаев им удается вернуть четкое и яркое зрение уже после 1 курса.</p>
            <p>Ведь в состав препарата входят специально подобранные компоненты, восстанавливающие правильную работу глазных мышц и улучшающие состояние хрусталика - главных факторов хорошего зрения.</p>
        </div>
        <div class="professional__footer">
            <div class="professional__name"><mark>Януш Линовски</mark>, д.м.н., профессор, <span>офтальмолог</span> с 35-летним стажем</div>
            <div class="professional__picture"><img src="../media/professional/picture.png" alt=""></div>
        </div>
        <div class="professional__media"></div>
    </div>
</div>
