
.face {
    position: relative;
    padding-top: 40px;
    padding-bottom: 90px;
}

.face__product {
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 490px;
    height: 604px;
    margin-left: -245px;
    background-image: url("../media/face/product.png");
    background-repeat: no-repeat;
}

.face__logo {
    position: relative;
    width: 138px;
    height: 32px;
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    background-image: url("../media/face/logo-border.png");
    background-repeat: no-repeat;
}

.face__box {
    display: flex;
    justify-content: space-between;
}

.face__info {
    max-width: 308px;
}

.face__title {
    margin-bottom: 32px;
    font-size: 64px;
    font-weight: 700;
    line-height: 58px;

    & mark {
        padding-right: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        font-family: 'Caveat', sans-serif;
    }
}

.face__item {
    position: relative;
    padding: 7px 7px 7px 54px;
    background-color: #fff;

    & + & {
        margin-top: 14px;
    }
}

.face__check {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 40px;
    height: 40px;
    background-image: url("../media/face/check.png");
    background-repeat: no-repeat;
}

.face__item-description {
    & span {
        display: block;
        font-weight: 700;
        color: #ff8c8a;
    }
}

.face__theAppointment {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: -9px;
    margin-left: -9px;
}

.face__theAppointment-item {
    position: relative;
    padding: 10px 10px 10px 15px;
    margin-right: 9px;
    margin-bottom: 12px;
    margin-left: 9px;
    background-color: #a0b7b4;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        content: '';
        background: rgb(254, 145, 127);
        background: linear-gradient(180deg, rgba(254, 145, 127, 1) 0%, rgba(251, 178, 59, 1) 100%);
    }
}

.face__theAppointment-description {
    font-size: 13px;
    color: #fff;

    & b {
        font-family: 600;
    }

    & span {
        display: block;
    }
}

@media (max-width: 1030px) {
    .face {
        padding-bottom: 70px;

        & .face__title {
            font-size: 46px;
        }
    }

    .face__product {
        left: 51%;
        width: 320px;
        height: 395px;
        margin-left: -160px;
        background-size: cover;
    }

    .face__info {
        max-width: 250px;
    }

    .face__item-description {
        font-size: 14px;

        & span {
            margin-bottom: 5px;
        }
    }

    .face__theAppointment {
        margin-top: 20px;
        margin-right: -5px;
        margin-left: -5px;
    }

    .face__theAppointment-item {
        padding: 5px 8px 8px 11px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .face__theAppointment-description {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .face {
        padding-top: 0;
        padding-bottom: 0;

        & .face__title {
            margin-bottom: 450px;
            font-size: 38px;

            & span {
                display: inline-block;
            }
        }
    }

    .face__product {
        top: 170px;
        bottom: auto;
        left: 50%;
    }

    .face__box {
        flex-direction: column;
    }

    .face__info {
        max-width: 100%;
    }

    .face__item {
        box-shadow: 0 0 10px 0 #f3f3f3;
    }

    .face__theAppointment {
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .face {
        & .face__title {
            margin-bottom: 330px;
            font-size: 28px;
        }
    }

    .face__product {
        top: 145px;
        width: 230px;
        height: 283px;
        margin-left: -115px;
    }
}
