
.innovation {
    position: relative;
    padding: 2px;
    background: linear-gradient(130deg, rgba(232, 222, 115, 1) 0%, rgba(233, 109, 107, 1) 100%);
    border-radius: 5px;
}

.innovation__border {
    padding: 30px 78px;
    background-color: #fff;
    border-radius: 3px;
}

.innovation__logo {
    position: absolute;
    top: -16px;
    left: 50%;
    width: 138px;
    height: 32px;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    background-color: #fff;
    background-image: url("../media/innovation/logo-border.png");
    background-repeat: no-repeat;
    border-radius: 50px;
    transform: translateX(-50%);
}

.innovation__title {
    margin-bottom: 35px;
    font-size: 43px;
    font-weight: 800;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}

.innovation__description {
    line-height: 20px;
    text-align: center;

    & p + p {
        margin-top: 15px;
    }
}

@media (max-width: 1030px) {
    .innovation__border {
        padding: 30px;
    }

    .innovation__title {
        margin-top: 20px;
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .innovation {
        margin-top: 0;
        margin-bottom: 340px;
    }

    .innovation__border {
        padding: 30px 15px;
    }
}

@media (max-width: 480px) {
    .innovation__description {
        & p {
            font-size: 14px;
        }
    }
}
