
.section {
    position: relative;

    &_face {
        z-index: 1;
        background-color: transparent;
        background-image: url("../media/section/face-footer.png");
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    &_cause {
        margin-top: -130px;
        background-image: url("../media/section/cause.jpg");
        background-repeat: no-repeat;
        background-position: center top;
    }

    &_demonstration {
        margin-top: -80px;
        background-image: url("../media/section/demonstration.png");
        background-repeat: no-repeat;
        background-position: center top;
    }

    &_help {
        z-index: 1;
        margin-top: -160px;
        background-image: url("../media/section/help.png");
        background-repeat: no-repeat;
        background-position: center top;
    }

    &_innovation {
        padding-top: 1015px;
        padding-bottom: 65px;
        margin-top: -253px;
    }

    &_ingredients {
        padding-top: 65px;
        padding-bottom: 635px;
        background-image: url("../media/section/ingredients.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    &_professional {
        padding-top: 100px;
        padding-bottom: 80px;
        background-image: url("../media/section/professional.png");
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    &_face-footer {
        padding-top: 222px;
        margin-top: -132px;
        background-image: url("../media/section/face-footer.png");
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

.section__title {
    & span {
        display: block;
    }

    & mark {
        display: inline-block;
        color: #0b2349;
        background: linear-gradient(130deg, #fab730 0%, #ff8c8a 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../media/section/innovation_bg-blur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

.section__linz-left {
    position: absolute;
    top: 430px;
    left: 50%;
    width: 256px;
    height: 207px;
    margin-left: -298px;
    background-image: url("../media/section/innovation_bg-perfect.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    border-radius: 20px 467px 573px 326px;
}

.section__linz-right {
    position: absolute;
    top: 430px;
    left: 50%;
    width: 256px;
    height: 207px;
    margin-left: 40px;
    background-image: url("../media/section/innovation_bg-perfect.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    border-radius: 319px 251px 319px 436px;
}

.section__bg-glasses {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../media/section/innovation_bg-glasses.png");
    background-repeat: no-repeat;
    background-position: center top;
}

@media (max-width: 1030px) {
    .section {
        &_face {
            background-image: url("../media/section/face-1030.png");
            background-position: center bottom;
        }

        &_cause {
            margin-top: -67px;
            background-image: url("../media/section/cause-1030.jpg");
        }

        &_innovation {
            padding-top: 500px;
            margin-top: -100px;
        }
    }

    .section__title {
        font-size: 36px;
        line-height: 1;
    }

    .section__bg {
        background-position: center -200px;
    }

    .section__linz-left {
        top: 230px;
        background-position: center -200px;
    }

    .section__linz-right {
        top: 230px;
        background-position: center -200px;
    }

    .section__bg-glasses {
        background-position: center -200px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 0;
        margin-bottom: 0;

        &_face {
            background-image: url("../media/section/face-768.jpg");
        }

        &_cause {
            background-image: url("../media/section/cause-768.jpg");
        }

        &_demonstration {
            margin-top: 0;
            background-color: #eef8f8;
            background-image: none;
        }

        &_help {
            margin-top: 0;
            background: linear-gradient(180deg, #fe917f 0%, #fbb23b 100%);
        }

        &_ingredients {
            padding-bottom: 635px;
            background-image: url("../media/section/ingredients-768.jpg");
        }

        &_professional {
            background-image: url("../media/section/professional-768.jpg");
        }
    }

    .section__title {
        font-size: 28px;
        text-align: center;

        & span {
            display: inline;
        }
    }

    .section__bg {
        background-image: url("../media/section/innovation_bg-blur-768.jpg");
        background-position: center bottom;
    }

    .section__linz-left {
        top: 558px;
        background-image: url("../media/section/innovation_bg-perfect-768.jpg");
        background-position: center bottom;
        border-radius: 20px 467px 573px 326px;
    }

    .section__linz-right {
        top: 558px;
        background-image: url("../media/section/innovation_bg-perfect-768.jpg");
        background-position: center bottom;
    }

    .section__bg-glasses {
        background-image: url("../media/section/innovation_bg-glasses-768.png");
        background-position: center bottom;
    }
}

@media (max-width: 480px) {
    .section {
        padding-top: 25px;
        padding-bottom: 25px;

        &_face {
            background-size: cover;
        }

        &_ingredients {
            background-image: url("../media/section/ingredients-480.jpg");
        }

        &_innovation {
            background-image: url("../media/section/innovation_bg-480.jpg");
            background-repeat: no-repeat;
            background-position: center bottom;
        }
    }

    .section__title {
        font-size: 20px;
    }

    .section__bg {
        display: none;
    }

    .section__linz-left {
        display: none;
    }

    .section__linz-right {
        display: none;
    }

    .section__bg-glasses {
        display: none;
    }
}
